@import "tailwindcss";

@layer base {
  .content-area p
  p {
    @apply text-lg text-gray-700 leading-relaxed mb-5;
  }

  .content-area ul {
    @apply mb-8 mt-5;
  }

  h1 {
    @apply text-7xl font-bold text-gray-900 mb-8;
  }

  h2 {
    @apply text-2xl font-semibold text-gray-800 mt-3 mb-9;
  }
}

  .embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

